.header {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    font-size: 24px;
    flex-grow: 0;
    color: #f9faf8;
    padding: 0 200px 100px 200px;
}

.header-2 {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1f2937;
}

a,
.secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.container {
    display: flex;
}

.placeholder {
    width: 400px;
    height: 200px;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border: 0;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 14px;
} 