.header {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    font-size: 24px;
    flex-grow: 0;
    color: #f9faf8;
    padding: 0 200px 100px 200px;
    gap: 100px;
    margin: 0px;
    border: 0px;
}

.header-2 {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    background-color: #1f2937;
}

a,
.secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.container {
    display: flex;
    gap: 50px;
}

.placeholder {
    min-width: 400px;
    height: 180px;
}

.one {
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 5px;
    border: 0;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 14px;
} 

.header-links {
    display: flex;
    gap: 20px;
}

.random {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px 100px 200px;
    font-size: 36px;
    
}

h2 {
    color: #1f2937;
    font-weight: 900;
}

.random-images {
    display: flex;
    gap: 50px;
}

img {
    width: 180px;
    height: 180px;
}

.image {
    text-align: center;
    font-size: 18px;
    color: #696969;
}

.background {
    background-color: #E5E7EB;
    color: #1f2937;
    font-weight: lighter;
    font-style:italic;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    padding-right: 220px;
}

body {
    border:0;
    padding: 0;
    margin: 0;
}

.god {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

.move {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.with-style {
    display: flex;
    gap: 150px;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 5px;
    color: #f9faf8;
}

.two {
    background-color: #3882F6;
    border-radius: 5px;
    color: #f9faf8;
    padding: 5px 15px;
    font-weight: 700;
    font-size: 14px;
}

.with-style button {
    border: 2px solid #fff;
 }

 .action {
     font-weight: 700;
     color: #f9faf8;
     font-size: 24px;
 }

 .footer {
    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 30px;
    padding-bottom: 30px;
 }

